* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 201px;
}

.logo {
    color: white;
    margin-left: 52px;
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 18px;
}

.header-nav-link {
    color: white;
    text-decoration: none;
}

.banner-text {
    margin-left: 138px;
    max-width: 466px;
    color: white;
}

.banner-text-mini {
    font-size: small;
    margin: 0;
}

.banner-text-big {
    font-size: xxx-large;
    font-weight: bold;
    margin: 0;
}

.banner-text-medium {
    font-size: large;
    margin: 0;
}