* {
    box-sizing: border-box;
}

body {
    margin: 0
}

.banner {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 201px;
    z-index: 10;
    position: absolute;
}

.logo {
    color: white;
    margin-left: 52px;
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 18px;
    margin-left: 850px;
}

.header-nav-link {
    color: white;
    text-decoration: none;
}

.banner-container {
    margin-left: 138px;
    z-index: 10;
    position: absolute;
}

.banner-text {
    margin-top: 269px;
    max-width: 466px;
    color: white;
}

.banner-text-mini {
    font-size: small;
    margin: 0;
}

.banner-text-big {
    font-size: xxx-large;
    font-weight: bold;
    margin: 0;
}

.banner-text-medium {
    font-size: large;
    margin: 0;
}

.banner-but {
    margin-top: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 55px;
    background-color: black;
    color: white;
    min-width: 255px;
    height: 64px;
}

.banner-img {
    z-index: 10;
    position: absolute;
    margin-left: 1100px;
    margin-top: 600px;
}

.banner-bg {
    width: 100%;
    z-index: 0;
    position: relative;
}

.about {
    height: 800px;
    display: flex;
    background-color: #1E262F;
    color: white;
}

.about-title {
    width: 138px;
    height: 100%;
}

.about-title-text {
    text-align: center;
    margin-top: 370px;
    opacity: 0.1;
}

.about-company {
    width: 373px;
    height: 100%;
    margin: 300px 0px 0px 60px;
    font-family: Inter;
    font-weight: bold;
}

.about-company p:first-child {
    font-size: 32px;
}


.about-content {
    width: 748px;
    height: 100%;
    display: flex;
    margin: 210px 0px 0px 36px;
    text-align: center;
}

.img-play {
    display: flex;
    position: relative;
    margin: 0px 0px 40px 50px;
}

.video {
    width: 100%;
    border-radius: 12px;
}

.play-button {
    opacity: 0.7;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    margin: 105px 200px;
}

.about-content p {
    text-align: left;
}

.company-name {
    font-size: 56px;
    font-family: Oranienbaum;
}

.about-title-text {
    rotate: 270deg;

}

.estimate {
    display: flex;
}

.lines {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.line {
    height: 745px;
    width: 1px;
    border: none;
    background-color: rgba(37, 37, 44, 0.07);
    margin-top: 0;
}

.estimate-texts {
    position: absolute;
    margin-top: 272px;
    margin-left: 162px;
}

.estimate-title {
    font-size: xx-large;
    margin: 0 0 12px 0;
}

.estimate-text {
    max-width: 320px;
    margin: 0;
}

.estimate-img {
    position: absolute;
    margin: 187px 0 0 482px;
}
